<!-- insert head.ejs -->
<%- include('../partials/head') %>


<!-- insert nav.ejs -->
<%- include('../partials/nav') %>

<div>
    <h1>Admin <i class="fa-solid fa-user"></i></h1>
</div> <br>

    <div class="section">
        <!-- <h2><i class="fa-duotone fa-rectangle-vertical-history"></i> COMPLETE COLLECTION</h2> -->
                
        <div class="admin-table"> 
            <div class="adminform">
                
                <!-- <form action="./adminCtrl/create-book" method="post">
                <button type="add">ADD NEW HIKE</button></form> -->

                <a href="./contentCreate">
                <button type="add">ADD NEW HIKE</button></a>

            </div>

            <table class="admin">
                <tr>
                    <th>NAME</th>
                    <th>LOCATION</th>
                    <th>DATE</th>
                    <th>RATING</th>
                    <th>DETAILS</th>
                    <th>EDIT</th>
                    <th>DELETE</th>
                </tr>
                <%- console.log(content) %>
                <% for (const Content of content) { %>
                    <tr>
                    <td><%= Content.name %></td>
                    <td><%= Content.location %></td>
                    <td><%= Content.hikedAt %></td>
                    <td><%= Content.rating %></td>
                    <td><%= Content.details %></td>

                    <td>
                        <form action="/admin/<%= Content._id %>" method="update">
                            <button class="edit">EDIT</button></form>
                    </td>
                    <td>
                        <form action="/admin/<%= Content._id %>" method="delete">
                            <button class="delete">DELETE</button></form>
                    </td>
                    </tr>
                <% } %>

                <!-- <tr>
                    <td>Mount Roberts</td>
                    <td>Moultonborough, NH</td>
                    <td>Mar 2023</td>
                    <td><form action="./updateContent" method="post"><button class="edit">EDIT</button></form></td>
                    <td><form action="./contentDetail" method="post"><button class="delete">DELETE</button></form></td>
                </tr>
                
                <tr>
                    <td>Mount Willard</td>
                    <td>Moultonborough, NH</td>
                    <td>Mar 2023</td>
                    <td><form action="./updateContent" method="post"><button class="edit">EDIT</button></form></td>
                    <td><form action="./contentDetail" method="post"><button class="delete">DELETE</button></form></td>
                </tr>
                
                <tr>
                    <td>Mount Pemi</td>
                    <td>Moultonborough, NH</td>
                    <td>Mar 2023</td>
                    <td><form action="./updateContent" method="post"><button class="edit">EDIT</button></form></td>
                    <td><form action="./contentDetail" method="post"><button class="delete">DELETE</button></form></td>
                </tr>
                
                <tr>
                    <td>Mount Major</td>
                    <td>Moultonborough, NH</td>
                    <td>Mar 2023</td>
                    <td><form action="./updateContent" method="post"><button class="edit">EDIT</button></form></td>
                    <td><form action="./contentDetail" method="post"><button class="delete">DELETE</button></form></td>
                </tr>

                <tr>
                    <td>Mount Wachusett</td>
                    <td>Moultonborough, NH</td>
                    <td>Mar 2023</td>
                    <td><form action="./updateContent" method="post"><button class="edit">EDIT</button></form></td>
                    <td><form action="./contentDetail" method="post"><button class="delete">DELETE</button></form></td>
                </tr>

                <tr>
                    <td>Great Brook Farm State Park</td>
                    <td>Moultonborough, NH</td>
                    <td>Mar 2023</td>
                    <td><form action="./updateContent" method="post"><button class="edit">EDIT</button></form></td>
                    <td><form action="./contentDetail" method="post"><button class="delete">DELETE</button></form></td>
                </tr>

                <tr>
                    <td>Borderland State Park</td>
                    <td>Moultonborough, NH</td>
                    <td>Mar 2023</td>
                    <td><form action="./updateContent" method="post"><button class="edit">EDIT</button></form></td>
                    <td><form action="./contentDetail" method="post"><button class="delete">DELETE</button></form></td>
                </tr> -->
            </table>
            <!-- <div class="adminform2"><form action="./admin" method="post"><button type="submit">SUBMIT</button></form></div> -->
        </div>  
    </div>

</body>

<!-- insert footer.ejs -->
<%- include('../partials/footer') %>