<!-- insert head.ejs -->
<%- include('../partials/head') %>

<!-- insert nav.ejs -->
<%- include('../partials/nav') %>

<h1 class="contentCreate"> <span><i class="fa-regular fa-pen-to-square"></i> Update Content</span> </h1>

<form action="/admin/<%= foundContent._id %>?_method=PUT" method="POST">

<div class="row">
    <div class="columnL">
        <img src="https://wallpapercave.com/wp/wp8968790.jpg" width=100% height=100% alt="adventure">
        
    </div>
    <div class="columnM">

    <div>
      <label for="name">Name: </label>
      <input type="text" name="name" id="name" minlength="1" value="<%= foundContent.name %>" required />
  </div>

  <div>
      <label for="location">Location: </label>
      <input type="text" name="location" id="location" minlength="5" value="<%= foundContent.location %>"required />
  </div>

  <div>
    <label for="hikedAt">hikedAt: </label>
    <input type="text" name="hikedAt" id="hikedAt" minlength="5" value="<%= foundContent.hikedAt %>"required />
</div>

  <div>
      <label for="rating">Ratings: </label>
      <input type="text" name="rating" id="rating" min="1" max="5" value="<%= foundContent.rating %>" required />
  </div>

  <div>
      <label for="details">Details:</label>
      <textarea class="text-area-label" name="details" id="details" ><%= foundContent.details %></textarea>
  </div>

</div>

<div class="columnR">
    <img src="https://www.xtrafondos.com/en/descargar.php?id=4575&vertical=1" width=100% height=100% alt="adventure">
</div>

</div>
<!-- <div>
        <input type="submit" value="Submit"/>
    </div> -->

    <button type="submit">Submit</button>
</form>

<!-- insert footer.ejs -->
<%- include('../partials/footer') %>