<!-- insert head.ejs -->
<%- include('../partials/head') %>

<!-- insert nav.ejs -->
<%- include('../partials/nav') %>

<h1 class="contentCreate"> <span>Update Content</span> </h1>

<form action="/content/<%= foundContent._id %>?_method=PUT" method="POST">
    <div>
      <label for="name">Name: </label>
      <input type="text" name="name" id="name" minlength="1" value="<%= foundContent.name %>" required />
  </div>

  <div>
      <label for="location">Location: </label>
      <input type="text" name="location" id="location" minlength="5" value="<%= foundContent.location %>"required />
  </div>

  <div>
    <label for="hikedAt">hikedAt: </label>
    <input type="text" name="hikedAt" id="hikedAt" minlength="5" value="<%= foundContent.hikedAt %>"required />
</div>

  <div>
      <label for="rating">Ratings: </label>
      <input type="text" name="rating" id="rating" min="1" max="5" value="<%= foundContent.rating %>" required />
  </div>

  <div>
      <label for="details">Details:</label>
      <textarea class="text-area-label" name="details" id="details" ><%= foundContent.details %></textarea>
  </div>

    <div>
        <input type="submit" value="Submit"/>
    </div>

</form>

<!-- insert footer.ejs -->
<%- include('../partials/footer') %>